# Servidor
PORT=3000
VERIFY_TOKEN=SETME_verify_token_meta

# WhatsApp Cloud
WHATSAPP_PHONE_NUMBER_ID=SETME_phone_number_id
META_ACCESS_TOKEN=SETME_meta_access_token

# HuggingFace / Groq
HUGGINGFACE_TOKEN=SETME_hf_token
HF_EMBEDDINGS_MODEL=thenlper/gte-small
GROQ_API_KEY=SETME_groq_key

# Pinecone
PINECONE_API_KEY=SETME_pinecone_key
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX=proyecto-rag

# Cache de modelos (útil en Render)
TRANSFORMERS_CACHE=/opt/render/project/.cache/transformers
